{% extends "AppFinal/inicio.html" %}

{% block contenidoQueCambia %}

<h1>Resultados de búsqueda - Sucursales</h1>

<p>Estamos buscando la ciudad: <strong>{{ ciudad }}</strong></p>

{% if sucursales %}
    <ul class="list-group">
        {% for sucursal in sucursales %}
            <li class="list-group-item">
                <strong>Ciudad:</strong> {{ sucursal.ciudad }} |
                <strong>País:</strong> {{ sucursal.pais }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="text-danger">Sin resultados</p>
{% endif %}

{% endblock %}